USE [GameDB]
GO
/****** Object:  Table [dbo].[orderitem]    Script Date: 2020/5/28 下午 08:00:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderitem](
	[itemId] [int] IDENTITY(1,1) NOT NULL,
	[pdId] [int] NULL,
	[quantity] [int] NULL,
	[total] [int] NULL,
	[FK_orderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[itemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[orderitem] ON 

INSERT [dbo].[orderitem] ([pdId], [quantity], [total], [FK_orderId]) VALUES (1, 1, 3490, 4)
INSERT [dbo].[orderitem] ([pdId], [quantity], [total], [FK_orderId]) VALUES (4, 1, 4000, 5)
INSERT [dbo].[orderitem] ([pdId], [quantity], [total], [FK_orderId]) VALUES (21, 1, 1290, 6)
SET IDENTITY_INSERT [dbo].[orderitem] OFF
ALTER TABLE [dbo].[orderitem]  WITH CHECK ADD  CONSTRAINT [FKnp6ynu1ltngvupcu09i2y38ws] FOREIGN KEY([FK_orderId])
REFERENCES [dbo].[orders] ([orderId])
GO
ALTER TABLE [dbo].[orderitem] CHECK CONSTRAINT [FKnp6ynu1ltngvupcu09i2y38ws]
GO
