USE [GameDB]
GO
/****** Object:  Table [dbo].[orderitem]    Script Date: 2020/5/30 下午 02:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderitem](
	[itemId] [int] IDENTITY(1,1) NOT NULL,
	[pdId] [int] NULL,
	[quantity] [int] NULL,
	[total] [int] NULL,
	[FK_orderId] [int] NULL,
 CONSTRAINT [PK__orderite__56A128AADBEFFE92] PRIMARY KEY CLUSTERED 
(
	[itemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2020/5/30 下午 02:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[orderId] [int] IDENTITY(1001,1) NOT NULL,
	[email] [varchar](255) NULL,
	[id] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[orderDate] [datetime2](7) NULL,
	[phone] [varchar](255) NULL,
	[shippingAddress] [varchar](255) NULL,
	[state] [int] NULL,
	[total] [int] NULL,
 CONSTRAINT [PK__orders__0809335DE537DB14] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[orderitem] ON 

INSERT [dbo].[orderitem] ([itemId], [pdId], [quantity], [total], [FK_orderId]) VALUES (1, 2, 2, 2980, 1)
INSERT [dbo].[orderitem] ([itemId], [pdId], [quantity], [total], [FK_orderId]) VALUES (2, 6, 1, 3590, 1001)
INSERT [dbo].[orderitem] ([itemId], [pdId], [quantity], [total], [FK_orderId]) VALUES (3, 1, 1, 3490, 1002)
SET IDENTITY_INSERT [dbo].[orderitem] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([orderId], [email], [id], [name], [orderDate], [phone], [shippingAddress], [state], [total]) VALUES (1, N'futommy0228366023abc@yahoo.com.tw', N'tommy', N'Zihao Fu', CAST(N'2020-05-29T23:08:32.9850000' AS DateTime2), N'123', N'台北市士林區忠義街68號', 1, 2980)
INSERT [dbo].[orders] ([orderId], [email], [id], [name], [orderDate], [phone], [shippingAddress], [state], [total]) VALUES (1001, N'aaaaaaa', N'tommy', N'Zihao Fu', CAST(N'2020-05-29T23:12:22.0370000' AS DateTime2), N'123', N'台北市士林區忠義街68號', 1, 3590)
INSERT [dbo].[orders] ([orderId], [email], [id], [name], [orderDate], [phone], [shippingAddress], [state], [total]) VALUES (1002, N'futommy0228366023abc@yahoo.com.tw', N'tommy', N'Zihao Fu', CAST(N'2020-05-29T23:33:04.4310000' AS DateTime2), N'03665', N'台北市士林區忠義街68號', 1, 3490)
SET IDENTITY_INSERT [dbo].[orders] OFF
ALTER TABLE [dbo].[orderitem]  WITH CHECK ADD  CONSTRAINT [FKdnqkbwhi45jav8j5ddp1s4c93] FOREIGN KEY([pdId])
REFERENCES [dbo].[products] ([pdId])
GO
ALTER TABLE [dbo].[orderitem] CHECK CONSTRAINT [FKdnqkbwhi45jav8j5ddp1s4c93]
GO
ALTER TABLE [dbo].[orderitem]  WITH CHECK ADD  CONSTRAINT [FKnp6ynu1ltngvupcu09i2y38ws] FOREIGN KEY([FK_orderId])
REFERENCES [dbo].[orders] ([orderId])
GO
ALTER TABLE [dbo].[orderitem] CHECK CONSTRAINT [FKnp6ynu1ltngvupcu09i2y38ws]
GO
